<%- include('partials/header', { pageTitle: 'Home', currentYear: new Date().getFullYear() }) %>

<main>
  <div class="aside">
  
  </div>

  <div class="main-box">
    <h2><%= companyName %></h2>
    <p class="galactic-text">
    <b>Galactic Sound Universe</b> is not just a music system; it's a celestial symphony that transcends boundaries and takes you on an interstellar journey through the cosmos of sound. With genres that echo the diversity of the galaxies, artists who are cosmic virtuosos, and albums that paint vivid constellations of emotion, our universe is a pulsating rhythm of innovation and harmony.<br><br>
    Dive into the gravitational pull of Rockin' Ricky's air guitar prowess, let Pop Princess Polly's melodies sparkle like distant stars, feel the smooth saxophone serenades of Jazzy Jive Jimmy echoing through the cosmic void, and sway to the country tunes of Cindy under the vast expanse of open skies. Meanwhile, Electro Ellie creates sonic landscapes that transport you to dimensions unknown.<br><br>
    Our record labels, like Spectrum Records and Echelon Sounds, serve as celestial guides, weaving a tapestry of albums that resonate across the cosmic spectrum. Galactic Sound Universe is not just a music experience; it's a sonic odyssey, a harmonious escapade through the boundless reaches of musical expression.<br><br>
    Join us as we navigate the astral currents of sound, where each note is a star and every beat a celestial heartbeat. Welcome to Galactic Sound Universe, where the music knows no earthly limits.<br><br>
    </p>
  </div>
</main>

<%- include('partials/footer') %>
